{% extends "layout.html" %}
{% block title %} Admin Page {% endblock %}
{% block content %}


<div class="container">
	<div style="margin-top: 10%; display: flex; justify-content: center;">
		<h1 style="font-family: 'Raleway', sans-serif; text-align: center;">Add New WorkPlace</h1>
	</div>

	<div class="col-auto"
		style="margin-top: 2%; font-family: 'Raleway', sans-serif; display: flex; justify-content: center;">
		<form style="width: 20%;" class="form-signin" METHOD="POST">
			<input type="text" class="form-control input-wp" placeholder="Name" name="name" value="{{ name }}" required>
			<br>
			<input type="text" class="form-control input-wp" placeholder="Type" name="type" value="{{ type }}" required>
			<br>
			<input type="number" min="1" max="3" class="form-control input-wp" placeholder="Status" name="status"
				value="{{ status }}" required>
			<br>
			<input type="url" class="form-control input-wp" placeholder="Logo Url" name="logo_url"
				value="{{ status }}" required>
			<br>
			<input type="text" class="form-control input-wp" placeholder="City" name="city" value="{{ city }}" required>
			<br>
			<input type="text" class="form-control input-wp" placeholder="District" name="district"
				value="{{ district }}" required style="margin-left: 0 !important;">
			<br>
			<input type="number" step="0.000000000000000001" class="form-control input-wp" placeholder="Latitude"
				name="lat" value="{{ status }}" required>
			<br>
			<input type="number" step="0.000000000000000001" class="form-control input-wp" placeholder="Longitude"
				name="long" value="{{ status }}" required>
			<br>
			<input class="btn-wp" type="submit" value="Add WorkPlace" class="btn btn-secondary">
		</form>
	</div>
</div>
{% endblock %}