<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLineUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body {% if not current_user.is_authenticated %} class="index" {% endif %}>
    <div>
        <nav id="nav">
            <a href="/">
                <p id="brand">CLINEUP</p>
            </a>
            <span id="links">
                <a class="navlink" href="/">
                    <p>HOME</p>
                </a>
                {% if not current_user.is_authenticated %}
                <a class="navlink" href="#">
                    <p>APPLICATION</p>
                </a>
                <a class="navlink" href="/auth/login">
                    <p>LOGIN</p>
                </a>
                {% else %}
                <a class="navlink" href="/auth/logout">
                    <p>LOGOUT</p>
                </a>

                {% endif %}
            </span>
        </nav>
    </div>
    {% if not current_user.is_authenticated %}
    <div id="slogan">
        <p style="font-size: 40px; margin: 0; letter-spacing: 6px; font-weight: bold;">Don't waste your time!</p>
        <p style="font-size: 22px; margin-top: 4%; letter-spacing: 3px;">Use Customer Line Up and <br>save your time
            spent
            on queues!</p>
        <a href="/auth/register"><input id="registerbtn" type="button" value="REGISTER"></a>
    </div>
    <div id="stats">
        <span style="display: inline-block;">
            <p class="stats-1">19K</p>
            <p class="stats-2">TOTAL<br>USERS</br></p>
        </span>
        <span style="display: inline-block; margin-left: 10%;">
            <p class="stats-1">670</p>
            <p class="stats-2">WORK<br>PLACES</br></p>
        </span>
        <span style="display: inline-block; margin-left: 10%;">
            <p class="stats-1">129</p>
            <p class="stats-2">PEOPLE<br>QUEUES</br></p>
        </span>

    </div>
    {% else %}
    <div style="margin-top: 12%; margin-left: 12%; display: inline-flex;">
        {% if current_user.user_type == 2 %}
        <span style="margin: 30px;">
            <a href="/workplace/dashboard">
                <img src="{{ url_for('static', filename='fa-icons/dboard.svg') }}" style="width: 100px; height: 100px;">
                <p style="width: 100px; text-align: center;">Dashboard</p>
            </a>
        </span>
        {% endif %}
        {% if current_user.user_type == 3 %}
        <span style="margin: 30px;">
            <a href="/workplace/workplaces">
                <img src="{{ url_for('static', filename='fa-icons/list.svg') }}" style="width: 100px; height: 100px;">
                <p style="width: 100px; text-align: center;">Workplaces</p>
            </a>
        </span>
        <span style="margin: 30px;">
            <a href="/queue/queue-history">
                <img src="{{ url_for('static', filename='queuehistory.png') }}" style="width: 100px; height: 100px;">
                <p style="width: 100px; text-align: center;">Queue History</p>
            </a>
        </span>
        {% endif %}
        {% if current_user.user_type == 1 %}
        <span style="margin: 30px;">
            <a href="/admin/adminpage">
                <img src="{{ url_for('static', filename='fa-icons/admin.svg') }}" style="width: 100px; height: 100px;">
                <p style="width: 100px; text-align: center;">Admin Panel</p>
            </a>
        </span>
        {% endif %}
        {% if current_user.is_authenticated %}
        <span style="margin: 30px;">
            <a href="/auth/profile">
                <img src="{{ url_for('static', filename='fa-icons/profile.svg') }}" style="width: 100px; height: 100px;">
                <p style="width: 100px; text-align: center;">Profile</p>
            </a>
        </span>
        {% endif %}
    </div>
    {% endif %}
</body>

</html>