{% extends "layout.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="box-profile">
    <div class="box-profile-in">
        <span>
            <img src="name.png" style="margin-top: 6%;"> <br>
            <img src="mail.png" style="margin-top: 4%;"> <br>
            <img src="phone.png" style="margin-top: 4%;"> <br>

        </span>
        <span>
            <p class="profile-text">Yasin Enes Polat</p><br>
            <p class="profile-text" style="margin-top: 15.5%;">yasinenes0129@gmail.com</p><br>
            <p class="profile-text" style="margin-top: 31%;">+90 533 514 61 25</p>
        </span>
    </div>
    <div class="profile-btn-div">
        <button class="profile-btn"><img src="edit.png"
                style="width: 30px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button>
        <button class="profile-btn"><img src="password.jpg"
                style="width: 30px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button>
        <button class="profile-btn"><img src="queuehistory.png"
                style="width: 40px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button>
    </div>
</div>
{% endblock %}