{% extends "layout.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="box-profile">
    <div class="box-profile-in">
        <span>
            <img src="{{ url_for('static', filename='name.png') }}" style="margin-top: 6%;"> <br>
            <img src="{{ url_for('static', filename='mail.png') }}" style="margin-top: 4%;"> <br>
            <img src="{{ url_for('static', filename='phone.png') }}" style="margin-top: 4%;"> <br>

        </span>
        <span>
            <p class="profile-text">{{ current_user.name + ' ' + current_user.surname }}</p><br>
            <p class="profile-text" style="margin-top: 15.5%;">{{ current_user.email_address }}</p><br>
            <p class="profile-text" style="margin-top: 31%;">
                {% if current_user.phone_number %}
                {{ current_user.phone_number }}
                {% else %}
                <a href="auth/profile/edit">Add</a>
                {% endif %}
            </p>
        </span>
    </div>
    <div class="profile-btn-div">
        <button class="profile-btn"><img src="{{ url_for('static', filename='edit.png') }}"
                style="width: 30px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button>
        <button class="profile-btn"><img src="{{ url_for('static', filename='password.jpg') }}"
                style="width: 30px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button>
        <a href="/queue/queue-history"><button class="profile-btn"><img src="{{ url_for('static', filename='queuehistory.png') }}"
                style="width: 40px; filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(102%);"></button></a>
    </div>
</div>
{% endblock %}