{% extends "layout.html" %}
{% block title %} Queue History {% endblock %}
{% block content %}
<div class="box-table-head">
    <table style="width: 100%;">
        <tr>
            <th style="width: 50%; text-align: left; padding-left: 8%;">WORKPLACE</th>
            <th style="width: 25%;">TIME</th>
            <th style="width: 25%;">VOTE</th>
        </tr>
    </table>
</div>
<div class="box-table-rows">
    <table style="width: 100%;">
        {% for queue in queues %}
        <tr class="table-row">
            <td style="width: 50%; text-align: left; padding-left: 8%;">{{ queue['workplaces_ref'] }}</td>
            <td style="width: 25%; text-align: center;">{{ queue['status_time'] }}</td>
            <td style="width: 25%; text-align: center;">
            {% if queue['comment_ref'] %}
            9/10
            {% else %}
            <a href="#">vote</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}