{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="box-register">
    <input class="input-register" type="text" name="username" id="username" placeholder="USERNAME">
    <input class="input-register" type="text" name="email" id="email" placeholder="EMAIL">
    <input class="input-register" type="password" name="password" id="password" placeholder="PASSWORD">
    <input class="input-register" type="number" name="phone" id="phone" placeholder="PHONE">
    <input class="input-register" id="register-btn" type="button" value="LOGIN">
</div>
{% endblock %}