{% extends "layout.html" %}
{% block title %} Workplaces {% endblock %}
{% block content %}

<div class="fade2">
    <div style="margin-left: 15%; margin-top: 10%">
        <h1 style="font-family: 'Raleway', sans-serif;">Workplaces</h1>
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
    <div style="margin-top: 1%; margin-left: 15%; margin-right: 15%; font-family: 'Raleway', sans-serif;">
        <table class="table table-borderless"
            style="text-align: center; background-color: #c9c9c9; width: 100%; font-size: 20px;">
            <thead>
                <tr>
                    <th scope="col" style="width: 30%; text-align: left; padding-left: 10%;">Name</th>
                    <th scope="col" style="width: 20%;">City</th>
                    <th scope="col" style="width: 15%;">Distinct</th>
                    <th scope="col" style="width: 15%;"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div style="margin-left: 15%; margin-right: 15%; font-family: 'Raleway', sans-serif;">
        <table id="myTable" style="width: 100%; text-align: center;">
            <tbody>
                {% for wp in workplaces %}
                <tr class="table-hover" style="line-height: 50px;">
                    <td style="width: 30%; text-align: left; padding-left: 10%;">{{ wp['name'] }}</td>
                    <td style="width: 20%;">{{ wp['address']['city'] }}</td>
                    <td style="width: 15%;">{{ wp['address']['district'] }}</td>
                    <td style="width: 15%;"><a href="/workplace/{{ wp['id'] }}" style="color: black;">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

{% endblock %}