{% extends "layout.html" %}
{% block title %} Workplaces {% endblock %}
{% block content %}

<div style="margin-left: 15%; margin-top: 10%">
    <h1 style="font-family: 'Raleway', sans-serif;">Workplaces</h1>
</div>
<div style="margin-top: 2%; margin-left: 15%; margin-right: 15%; font-family: 'Raleway', sans-serif;">
    <table class="table table-borderless" style="text-align: center; background-color: #F8F9FA; border-radius: 20px; width: 100%; font-size: 20px;">
        <thead>
            <tr>
                <th scope="col" style="width: 40%; text-align: left; padding-left: 10%;">Name</th>
                <th scope="col" style="width: 20%;">City</th>
                <th scope="col" style="width: 15%;">Distinct</th>
                <th scope="col" style="width: 15%;"></th>
            </tr>
        </thead>
    </table>
</div>

<div style="margin-left: 15%; margin-right: 15%; font-family: 'Raleway', sans-serif;">
    <table style="width: 100%; text-align: center;">
        <tbody>
            {% for wp in workplaces %}
                <tr style="line-height: 80px;">
                    <td style="width: 40%; text-align: left; padding-left: 10%;">{{ wp['name'] }}</td>
                    <td style="width: 20%;">{{ wp['address']['city'] }}</td>
                    <td style="width: 15%;">{{ wp['address']['district'] }}</td>
                    <td style="width: 15%;"><a href="/workplace/{{ wp['id'] }}" style="color: black;">view</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

{% endblock %}